<div class="container-fluid">


  <h1 class="display-5">Парсинг файлов формата json</h1>

 
    <div class="btn-group" role="group" aria-label="First group">
      <button type="button" class="btn btn-dark" routerLink="src/app/user">Users <img src="assets/icons/icons8-распознавание-голоса-64.png" alt=""></button>
      <button type="button" class="btn btn-dark" routerLink="src/app/colors">Colors <img src="assets/icons/icons8-электрозабор-64.png" alt=""></button>
      <button type="button" class="btn btn-dark">Todos <img src="assets/icons/icons8-блокировка-2-64.png" alt=""></button>
      <button type="button" class="btn btn-dark" routerLink="src/app/comments">Comments <img src="assets/icons/icons8-отпечаток-пальца-64.png" alt=""></button>
      <button type="button" class="btn btn-dark">Albums <img src="assets/icons/icons8-touch-id-64.png" alt=""></button>
    </div>
  


  <router-outlet></router-outlet>
</div>
