

<h2 class="display-6">Поиск по идентификатору: <input class="me-2" [(ngModel)]="str"></h2>

<table class="table">
  <thead class="bg-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">UserId</th>
      <th scope="col">Title</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let response of Response | filter:str"> 
<td>{{response.id}}</td>
<td>{{response.userId}}</td>
<td>{{response.title}}</td>
<td>{{response.completed}}</td>
    </tr>
  </tbody>
</table>
